body{
    text-align: center;
    font-family: "Aleo", serif;
}
/* Menu */
#siteHeader {
    position: sticky;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    height: 50px;
    position: sticky;
}
#myWork {
    display: flex;
    justify-content: left;
    align-content: center;
    max-height: 100%;
}
#myWork a:hover{
    height: 50px;
}
#myWork img:hover {
    animation: logoColorChange 2s linear infinite; 
}
@keyframes logoColorChange {
    0% {filter: hue-rotate(0deg);}
    20% {filter: hue-rotate(72deg);}
    40% {filter: hue-rotate(144deg);}
    60% {filter: hue-rotate(216deg);}
    80% {filter: hue-rotate(288deg);}
    100% {filter: hue-rotate(360deg);}
}

#myMedia {
    display: flex;
    justify-content: right;
}
#myMedia ul{
    list-style-type: none;
    display: flex;
    margin: 25px;
    gap: 25px;

    font-family: "Arimo", serif;
    font-size: 25px;
}
#myMedia li{
    color: lightblue;
}
#myMedia a{
    text-decoration: none;
    color: black;
}
#myMedia a:hover{
    animation: 2s linear infinite running myColorChange;
}
@keyframes myColorChange{
    0%{color: pink;}
    20%{color: lightsalmon;}
    40%{color: lightyellow;}
    60%{color: lightgreen;}
    80%{color: lightblue;}
    100%{color: plum;}
}

.text{
    margin-left: 25%;
    margin-right: 25%;
}

h1{
    font-family: "Arimo", serif;
    border-bottom: 2px solid lightgray;
}

.container{
}
.experience{
    text-align: left;
    font-size: 75%;
}
.positionTitle{
    display: flex;
    justify-content: space-between; 
}
.title{

}
.subtitle{
    font-style: italic;
}

.projTitle{
    justify-content: space-between; 
    display: flex;
}