body{
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    background-size: cover; */
    text-align: center;
    font-family: "Aleo", serif;
}

/* Menu */
#siteHeader {
    position: sticky;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    height: 50px;
    position: sticky;
}
#myWork {
    display: flex;
    justify-content: left;
    align-content: center;
    max-height: 100%;
}
#myWork a:hover{
    height: 50px;
}
#myWork img:hover {
    animation: logoColorChange 2s linear infinite; 
}
@keyframes logoColorChange {
    0% {filter: hue-rotate(0deg);}
    20% {filter: hue-rotate(72deg);}
    40% {filter: hue-rotate(144deg);}
    60% {filter: hue-rotate(216deg);}
    80% {filter: hue-rotate(288deg);}
    100% {filter: hue-rotate(360deg);}
}

#myMedia {
    display: flex;
    justify-content: right;
}
#myMedia ul{
    list-style-type: none;
    display: flex;
    margin: 25px;
    gap: 25px;

    font-family: "Arimo", serif;
    font-size: 25px;
}
#myMedia li{
    color: lightblue;
}
#myMedia a{
    text-decoration: none;
    color: black;
}
#myMedia a:hover{
    animation: 2s linear infinite running myColorChange;
}
@keyframes myColorChange{
    0%{color: pink;}
    20%{color: lightsalmon;}
    40%{color: lightyellow;}
    60%{color: lightgreen;}
    80%{color: lightblue;}
    100%{color: plum;}
}

/*Carousel*/
#instruction{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imageCarousel{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}
.slider{
    position: relative;
    width: 220px;
    height: 220px;
    transform: perspective(800px) rotateY(0 deg);
    transform-style: preserve-3d;
    animation: animate 30s linear infinite;
}
@keyframes animate{
    0%{transform: perspective(1000px) rotateY(0deg);}
    100%{transform: perspective(1000px) rotateY(-360deg);}
}
.slider span{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    /* (360)/(# images) deg */
    transform: rotateY(calc(var(--i) * 24deg))
    translateZ(500px);
}
.slider span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.slider span img:hover{
    transform: translateY(-10px) scale(1.1);
}
.aboutDesign{
    min-height: 20vh;
    justify-content: flex-start;
}

/*Portfolio*/
.portfolio{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.pAll{
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    object-position: center;
    position: relative;
}
.pALL:hover{
    background-color: pink;
}
.pInfo{
    /* text-align: center; */
    padding: 10px 20px;
}
.page1{
    object-position: center;
    display: block;
    position: relative;
}
.page2{
    object-position: center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; /* Place page2 above page1 when visible */
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
}
.pAll:hover .page1 {
    opacity: 0; /* Hide page1 */
}

.pAll:hover .page2 {
    opacity: 1; /* Show page2 */
}
