body{
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    background-size: cover; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Menu */
#siteHeader {
    position: sticky;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    height: 50px;
    position: sticky;
}
#myWork {
    display: flex;
    justify-content: left;
    align-content: center;
    max-height: 100%;
}
#myWork a:hover{
    height: 50px;
}
#myWork img{
    filter: saturate(0%);
}

#myMedia {
    display: flex;
    justify-content: right;
}
#myMedia ul{
    list-style-type: none;
    display: flex;
    margin: 25px;
    gap: 25px;

    font-family: "Arimo", serif;
    font-size: 25px;
}
#myMedia li{
    color: white;
}
#myMedia a{
    text-decoration: none;
    color: black;
}
#myMedia a:hover{
    animation: 2s linear infinite running myColorChange;
}
@keyframes myColorChange{
    0%{color: pink;}
    20%{color: lightsalmon;}
    40%{color: lightyellow;}
    60%{color: lightgreen;}
    80%{color: lightblue;}
    100%{color: plum;}
}

.container {
    height: 40vh;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
    font-family: "Aleo", serif;
}
.imgAndText {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: top;
    padding-left: 33%;
    padding-right: 33%;
    font-family: "Aleo", serif;
}